/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
/*白*/

$black00: black;
/*黒*/

$gray00: gray;
/*灰色*/

$yellow00: yellow;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
$blue01: #03283E;
/*青*/

$green00: green;
/*緑*/

$gold00:gold;
/*金*/
