.page-404{
  &__inner {
    width : 489px;
    margin : 107px auto 0;
    text-align: center;
    @include mq_sp{
      width : size_sp(629);
      margin-top : size_sp(38);
    }
  }
  &__en {
    font-size : 30px;
    font-weight : 300;
    line-height : 1;
    @include mq_sp{
      @include fz_vw(50);
    }
  }
  &__ja {
    font-size : 22px;
    line-height : (32/22);
    font-weight : 300;
    margin-top : 27px;
    @include mq_sp{
      @include fz_vw(38);
      line-height : (78/38);
      margin-top : size_sp(50);
    }
  }
  &__logo {
    width : 172px;
    margin : 41px auto 0;
    @include mq_sp{
      width : size_sp(288);
      margin-top : size_sp(57);
    }
  }
  &__txt {
    font-size : 16px;
    line-height : (37/16);
    text-align : left;
    margin-top : 33px;
    @include mq_sp{
      @include fz_vw(30);
      line-height : (62/30);
      margin-top : size_sp(62);
    }
  }
}