/*  layout > footer
============================================================================================================ */

.common-footer{
  position: relative;
  color: $white00;
  background-color: $blue01;
  padding : 208px 0 24px;
  position: relative;
  z-index : 100;
  @include mq_sp{
    padding : size_sp(156) 0 size_sp(46);
    z-index: 1;
  }
  &__bg {
    width : calc(100vw - 120px);
    height : 164.5px;
    background-color : $white00;
    position : absolute;
    top : -0.5px;
    right : 0;
    @include mq_sp{
      width : calc(100vw - #{size_sp(75)});
      height : size_sp(75.8);
      top : size_sp(-0.8);
    }
    &:before {
      content : "";
      width : 164px;
      height : 82px;
      background-color : $white00;
      position : absolute;
      top : 164px;
      right : 0;
      @include mq_sp{
        width : size_sp(150);
        height : size_sp(75);
        top : size_sp(75);
      }
    }
    &:after {
      content : "";
      width : 82px;
      height : 83px;
      background-color : $white00;
      position : absolute;
      top : 245px;
      right : 0;
      @include mq_sp{
        width : size_sp(75);
        height : size_sp(76);
        top : size_sp(149);
      }
    }
  }
  &__inner{
    width: 680px;
    padding-bottom: 46px;
    margin: 0 auto;
    @include flex(flex, nowrap, space-between, stretch, normal, row);
    border-bottom : solid 1px $white00;
    @include mq_tab{
      width : 570px;
    }
    @include mq_sp{
      width : size_sp(676);
      padding-bottom : size_sp(72);
      border-bottom : solid size_sp(2) $white00;
      flex-direction : column;
    }
  }
  &__list{
    font-size : 14px;
    line-height: 1;
    @include mq_sp{
      @include fz_vw(28);
    }
  }
  &__item {
    position : relative;
    &:not(:first-of-type) {
      margin-top : 30px;
      @include mq_sp{
        margin-top : size_sp(52);
      }
    }
    &:last-of-type {
      width : 141px;
      @include mq_sp{
        width : size_sp(238);
      }
      &:before {
        content: "";
        width : 7px;
        height : 17px;
        background-image : url(./img/common/icn_arrow-white.svg);
        background-size : cover;
        background-repeat: no-repeat;
        position : absolute;
        top : 50%;
        left : 90px;
        transform : translateY(-42%);
        pointer-events: none;
        transition-duration : .2s;
        transition-delay : .6s;
        @include mq_sp{
          width : size_sp(15);
          height : size_sp(34);
          background-image : url(./img/common/icn_arrow-white-sp.svg);
          left : size_sp(188);
        }
      }
      &:after {
        content : "";
        width : 0;
        height : 2px;
        background-color : $white00;
        position : absolute;
        top : 50%;
        left : 91px;
        transform : translateY(-50%);
        pointer-events: none;
        transition-duration : .4s;
        transition-delay : .3s;
        @include mq_sp{
          height : size_sp(2);
          left : size_sp(188);
        }
      }
      &.active {
        & .common-footer__subList {
          opacity: 1;
          pointer-events: all;
          transition-duration : .4s;
          transition-delay: .8s;
        }
        &:before {
          opacity: 0;
          transition-duration : .2s;
          transition-delay : 0s;
        }
        &:after {
          width : 50px;
          transition-duration : .4s;
          @include mq_sp{
            width : size_sp(50);
          }
        }
      }
    }
    a{
      display : block;
      position: relative;
      &:hover{
        opacity: 1;
        &:after{
          width: 100%;
        }
      }
    }
  }
  &__subList {
    font-size : 14px;
    line-height : (20/14);
    color : $white00;
    background-color : $blue02;
    width : 280px;
    opacity: 0;
    padding : 14px;
    position : absolute;
    left : 141px;
    bottom : -17px;
    transition-duration : .4s;
    transition-delay: 0s;
    pointer-events: none;
    @include mq_sp{
      @include fz_vw(28);
      line-height : (40/28);
      width : size_sp(424);
      padding : size_sp(30);
      left : size_sp(238);
      bottom : size_sp(-36);
    }
  }
  &__subItem {
    &:not(:first-of-type) {
      margin-top: 20px;
      @include mq_sp{
        margin-top : size_sp(40);
      }
    }
    & a {
      display: block;
    }
  }
  &__right {
    margin-top : 106px;
    @include mq_sp{
      margin-top : size_sp(62);
    }
  }
  &__catchCopy {
    font-size : 14px;
    line-height :1;
    text-align: right;
    @include mq_sp{
      @include fz_vw(26);
    }
  }
  &__logo {
    margin-top : 23px;
    @include mq_sp{
      margin-top : size_sp(42);
      justify-content : flex-end;
    }
    & a {
      display: block;
      @include flex(flex, nowrap, flex-start, center, normal, row);
      @include mq_sp{
        justify-content: flex-end;
      }
    }
    &-left {
      width : 39px;
      margin-right : 15px;
      @include mq_sp{
        width : size_sp(73);
        margin-right : size_sp(29);
      }
      & img {
        display: block;
      }
    }
    &-right {
      width : 193px;
      @include mq_sp{
        width : size_sp(364);
      }
      & img {
        display: block;
      }
    }
  }
  &__sns {
    width : 122px;
    margin-top : 41px;
    margin-left : auto;
    @include flex(flex, nowrap, space-between, center, normal, row);
    @include mq_sp{
      width : size_sp(210);
      margin-top : size_sp(45);
      justify-content: flex-end;
    }
    &-icn {
      height : 24px;
      @include mq_sp{
        height : size_sp(40);
      }
      &:not(:last-of-type) {
        @include mq_sp{
          margin-right : size_sp(40);
        }
      }
      & a {
        height : 100%;
        display: block;
      }
      & img {
        height : 100%;
        display: block;
      }
    }
  }
  &__address {
    font-size : 14px;
    line-height : 1;
    text-align : center;
    margin-top : 44px;
    @include mq_sp{
      @include fz_vw(24);
      margin-top : size_sp(42);
    }
  }
  &__tel {
    font-size : 14px;
    line-height : 1;
    text-align : center;
    margin-top : 18px;
    @include mq_sp{
      @include fz_vw(24);
      margin-top : size_sp(34);
    }
  }
  &__privacy {
    font-size : 13px;
    line-height :1;
    text-align : center;
    margin-top : 36px;
    @include mq_sp{
      @include fz_vw(24);
      margin-top : size_sp(68);
    }
    & a {
      display : block;
    }
  }
  &__copyright{
    @include font-size(12);
    display: block;
    text-align: center;
    line-height: 1;
    margin-top: 28px;
    @include mq_sp{
      @include fz_vw(20);
      margin-top: size_sp(50);
    }
  }
}