/* layout > header
============================================================================== */

.home{
  .common-header{
  }
}

.common-header{
  width: 120px;
  height : calc(100vh + 736px);
  // background-image: url(./img/common/bg_header.svg);
  background-size : cover;
  background-repeat : no-repeat;
  color: $white00;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #03283E;
  color: $white00;
  @include mq_sp{
    width : 100%;
    height: size_sp(100);
    position : fixed;
  }
  &.active{
    & .common-header__inner {
      background: linear-gradient(to bottom, $blue01 80%, $blue02);
      @include mq_sp{
        background: linear-gradient(to right, $blue01 80%, $blue02);
      }
    }
  }
  &__inner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, $blue02 80%, $blue01);
    margin: 0 auto;
    transition : .6s;
    @include mq_tab{}
    @include mq_sp{
      height : 100%;
      background: linear-gradient(to right, $blue02 80%, $blue01);
    }
  }
  &__logo{
    width : 74.5px;
    margin : 0 auto;
    padding : 20px 0 27px;
    @include mq_sp{
      width: size_sp(74.5);
      padding : size_sp(19) 0 0;
    }
    a{
      display: block;
      position: relative;
      width: 100%;
    }
    & img {
      display : block;
    }
  }
  &__toggle{
    @include mq_sp{
      display: block;
      width: size_sp(57);
      height: size_sp(45);
      @include abso-center-v();
      left: size_sp(30);
      cursor: pointer;
    }
    &.open{
      span{
        &:first-of-type{
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:last-of-type{
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
        }
      }
    }
    span{
      @include mq_sp{
        position: absolute;
        left: 0;
        width: 100%;
        height: size_sp(4);
        background: $white00;
        transition: 0.5s;
      }
      &:first-of-type{
        top: 0;
      }
      &:nth-of-type(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-of-type{
        bottom: 0;
      }
    }
  }
  &__nav{
    font-size : 12px;
    font-weight : 700;
    text-align : center;
    width : 160px;
    position : absolute;
    top : 109px;
    left : 50%;
    transform : translateX(-50%);
    @include mq_sp{
      @include fz_vw(26);
      width : size_sp(270);
      height : calc(100vh - #{size_sp(100)});
      background-color : rgba(10,113,173,.9);
      top : size_sp(100);
      left : 0;
      transform : translateX(-100%);
      transition : .6s;
    }
    &.open {
      transform : translateX(0);
    }
  }
  &__list{
    width: 100%;
    @include mq_sp{
      text-align : left;
      width : size_sp(160);
      margin : size_sp(42) auto 0;
    }
  }
  &__item {
    width : 72px;
    margin : 0 auto;
    position : relative;
    white-space: nowrap;
    @include mq_sp{
      width : 100%;
    }
    &:not(:first-of-type) {
      margin-top : 18px;
      @include mq_sp{
        margin-top : size_sp(33);
      }
    }
    &:first-of-type {
      text-align: left;
      width : 116px;
      padding-left : 12px;
      margin-left : auto;
      margin-right : 0;
      @include mq_sp{
        width : 100%;
        padding-left : 0;
      }
      &:before {
        content : "";
        width : 30px;
        height : 2px;
        background-color : $white00;
        top : 50%;
        left : 66px;
        transform : translateY(-50%);
        @include mq_sp{
          width : size_sp(91);
          height : size_sp(4);
          left : size_sp(124);
        }
      }
      & .common-header__subList {
        width : 208px;
        transition-duration : 0.4s;
        transition-delay : 0s;
        @include mq_sp{
          width : size_sp(450);
        }
      }
    }
    &:last-of-type {
      text-align: left;
      width : 116px;
      margin-left : auto;
      margin-right : 0;
      @include mq_sp{
        width : 100%;
      }
      &:before {
        content : "";
        width : 18px;
        height : 2px;
        background-color : $white00;
        top : 50%;
        left : 78px;
        transform : translateY(-50%);
        @include mq_sp{
          width : size_sp(39);
          height : size_sp(4);
          left : size_sp(176);
        }
      }
      & .common-header__subList {
        width : 244px;
        transition-duration : 0.4s;
        transition-delay : 0s;
        @include mq_sp{
          width : size_sp(450);
        }
      }
    }
    &:before {
      content : "";
      width  : 16px;
      height : 8px;
      background-size : cover;
      background-repeat : no-repeat;
      position : absolute;
      top : 50%;
      left : -10px;
      transform : translateX(-50%);
      transition-duration : 0.4s;
      transition-delay: 0.4s;
      @include mq_sp{
        transition-delay: 0s;
      }
    }
    & a {
      display : block;
    }
    &.active {
      & .common-header__subList {
        transition-delay: 0.4s;
        transition-duration: 0.4s;
        opacity: 1;
        pointer-events: all;
      }
      &:first-of-type {
        &:before {
          width : 50px;
          transition-duration : .4s;
          transition-delay: 0s;
          @include mq_sp{
            width : size_sp(121);
          }
        }
      }
      &:last-of-type {
        &:before {
          width : 38px;
          transition-duration : .4s;
          transition-delay: 0s;
          @include mq_sp{
            width : size_sp(69);
          }
        }
      }
    }
    &.current {
      &:nth-of-type(2) {
        &:after {
          left : -12px;
          @include mq_sp{
            left : size_sp(-40);
          }
        }
      }
      &:last-of-type {
        &:after {
          left : -18px;
          @include mq_sp{
            left : size_sp(-40);
          }
        }
      }
      &:after {
        content : "";
        width : 9px;
        height : 13px;
        background-image : url(./img/common/icn_sign-red.svg);
        background-size : cover;
        background-repeat : no-repeat;
        position : absolute;
        top : 50%;
        left : -6px;
        transform : translateY(-50%);
        @include mq_sp{
          width : size_sp(19);
          height : size_sp(28);
          left : size_sp(-40);
          transform : translateY(-45%);
        }
      }
      }
  }
  &__subList {
    font-size : 12px;
    font-weight : 500;
    line-height : (17/12);
    color : $white00;
    background-color : $blue02;
    opacity: 0;
    padding : 14px;
    position : absolute;
    top : -17px;
    left : 116px;
    transition-duration : 0.4s;
    transition-delay : 0.4s;
    pointer-events: none;
    @include mq_sp{
      @include fz_vw(26);
      line-height : (37/26);
      width : size_sp(450);
      padding : size_sp(30);
      top : size_sp(-22);
      left : size_sp(245);
    }
  }
  &__subItem {
    &:not(:first-of-type) {
      margin-top: 20px;
      @include mq_sp{
        margin-top : size_sp(40);
      }
    }
    & a {
      display: block;
    }
  }
  &__container {
    position : absolute;
    left : 50%;
    bottom : 20px;
    transform : translateX(-50%);
    opacity : 0;
    transition : .6s;
    pointer-events: none;
    @include mq_sp{
      display : none;
    }
    &.active {
      opacity : 1;
      pointer-events: all;
    }
  }
  &__btn {
    font-size : 11px;
    font-weight : 700;
    line-height : (16/11);
    text-align: center;
    width : 98px;
    margin : 25px auto 0;
    @include mq_sp{
      @include fz_vw(24);
      line-height : (35/24);
      width : size_sp(210);
      position : absolute;
      left : 50%;
      transform : translateX(-50%);
      bottom : size_sp(50);
    }
    &-item {
      border : solid 2px $white00;
      position : relative;
      @include mq_sp{
        border : solid size_sp(4) $white00;
      }
      &:not(:first-of-type) {
        margin-top  : 14px;
        @include mq_sp{
          margin-top : size_sp(40);
        }
      }
      &:last-of-type {
        & a {
          padding : 17px 0;
          @include mq_sp{
            padding : size_sp(37) 0;
          }
        }
      }
      &:hover {
        &:before {
          // width : 21px;
          // @include mq_sp{
          //   width : size_sp(50);
          // }
          animation: headerDelete .2s linear forwards, headerExtend .2s  .4s linear forwards;
          @include mq_sp{
            animation: none;
          }
          @keyframes headerDelete {
            0% {
              opacity :1;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes headerExtend {
            0% {
              opacity: 1;
              width : 0;
            }
            100% {
              opacity: 1;
              width : 21px;
            }
          }
        }
        & a {
          opacity: 1;
        }
      }
      &:before {
        content : "";
        width : 21px;
        height : 2px;
        background-color : $white00;
        position : absolute;
        top : 50%;
        left : 86px;
        transform : translateY(-50%);
        transition : .6s;
        @include mq_sp{
          width : size_sp(50);
          height : size_sp(4);
          left : size_sp(186);
        }
      }
      & a {
        padding : 9px 0;
        display: block;
        @include mq_sp{
          padding : size_sp(20) 0;
        }
      }
    }
  }
  &__scroll {
    font-size : 14px;
    display: block;
    position: absolute;
    left: 31px;
    bottom: 110px;
    transform: rotate(90deg);
    //transform-origin: left bottom;
    line-height: (28/19);
    letter-spacing: 0.2em;
    font-weight: bold;
    color: $white00;
    z-index: 2;
    pointer-events: none;
    opacity: 1;
    transition : .6s;
    @include mq_sp{
      display :none;
    }
    &.active {
      opacity : 0;
    }
    &:before{
      content: "";
      width: 85px;
      height: 1px;
      background: $white00;
      position: absolute;
      top: 50%;
      left: calc(100% + 8px);
      transform: translateY(-50%);
      animation: pathmove 2s cubic-bezier(1, 0, 0, 1) infinite;
      z-index: 1;
      @include mq_sp{
        $vw_12: size_sp(12);
        width: size_sp(90);
        left: calc(100% + #{$vw_12});
      }
    }
    @keyframes pathmove {
      0% {
        transform: translateY(-50%) scaleX(0);
        transform-origin: 0 0;
      }
      30% {
        transform: translateY(-50%) scaleX(1);
        transform-origin: 0 0;
      }
      30.1% {
        transform: translateY(-50%) scaleX(1);
        transform-origin: 100% 0;
      }
      100% {
        transform: translateY(-50%) scaleX(0);
        transform-origin: 100% 0;
      }
    }
  }
}