.loop-post {
  width : 228px;
  @include mq_tab{
    width : 30%;
  }
  @include mq_sp{
    width : size_sp(690);
  }
  &:nth-of-type(n+4) {
    margin-top : 54px;
    @include mq_sp{
      margin-top : 0;
    }
  }
  &:not(:first-of-type) {
    @include mq_sp{
      margin-top : size_sp(67);
    }
  }
  &:not(:nth-of-type(3n)){
    margin-right : 41px;
    @include mq_tab{
      margin-right : 5%;
    }
    @include mq_sp{
      margin-right : 0;
    }
  }
  &__high {
    @include flex(flex, nowrap, space-between, center, normal, row);
    @include mq_sp{
      width : size_sp(405);
    }
  }
  &__cat {
    font-size : 10px;
    font-weight : 500;
    line-height : 1;
    color : $white00;
    background-color : $black01;
    @include mq_sp{
      @include fz_vw(22);
    }
    & a {
      padding : 6px 25px;
      display: block;
      @include mq_sp{
        padding : size_sp(13) size_sp(56);
      }
    }
  }
  &__date {
    font-size : 15px;
    line-height : 1;
    @include mq_sp{
      @include fz_vw(30);
    }
  }
  & > a {
    @include mq_sp{
      @include flex(flex, nowrap, space-between, stretch, normal, row-reverse);
      margin-top : size_sp(21);
    }
  }
  &__thumb {
    width : 100%;
    height : 171px;
    margin-top : 10px;
    @include mq_sp{
      width : size_sp(321);
      height : size_sp(321);
      margin-top : size_sp(9);
    }
    & img {
      width : 100%;
      height : 100%;
    }
  }
  &__low {
    margin-top : 4px;
    @include mq_sp{
      width : size_sp(336);
      margin-top : 0;
    }
    & p {
      font-size : 12px;
      line-height : calc(28/12);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      @include mq_sp{
        @include fz_vw(24);
        line-height : (50/24);
        min-height : size_sp(150);
        -webkit-line-clamp: 3;
        margin-top : size_sp(14);
      }
    }
  }
  &__ttl {
    font-size : 14px;
    font-weight : 300;
    line-height : calc(32/14);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include mq_sp{
      @include fz_vw(28);
      line-height: (58/28);
      // min-height : size_sp(174);
      -webkit-line-clamp: 3;
    }
  }
}

.loop-gallery {
  width : 293px;
  text-align : center;
  @include mq_sp{
    width : size_sp(320);
  }
  &:not(:nth-of-type(3n)) {
    margin-right : 41px;
    @media (max-width: 1163px){
      margin-right : 0;
    }
  }
  &:not(:nth-of-type(2n)) {
    @media (max-width: 1163px){
      margin-right : 41px;
    }
    @include mq_sp{
      margin-right : size_sp(36);
    }
  }
  &:nth-of-type(n+4) {
    margin-top : 82px;
    @media (max-width: 1163px){
      margin-top : 0;
    }
  }
  &:nth-of-type(n+3) {
    @media (max-width: 1163px){
      margin-top : 82px
    }
    @include mq_sp{
      margin-top : size_sp(75);
    }
  }
  &__thumb {
    width : 100%;
    height : 220px;
    @include mq_sp{
      height : size_sp(213);
    }
    & img {
      width : 100%;
      height : 100%;
      object-fit: cover;
    }
  }
  &__ttl {
    font-size : 18px;
    font-weight : 700;
    line-height : (26/18);
    margin-top : 20px;
    @include mq_sp{
      @include fz_vw(22);
      line-height : calc(32/22);
      margin-top : size_sp(20);
    }
  }
  &__location {
    font-size : 16px;
    line-height : (24/16);
    margin-top : 10px;
    @include mq_sp{
      @include fz_vw(22);
      line-height : calc(32/22);
      margin-top : size_sp(14);
    }
  }
}