/* base > heading
============================================================================================================ */

/* 基本設定 */
h1 {
	@include font-size(34);
  @include mq_sp {
    @include font-size(22);
  }
}
h2 {
	@include font-size(30);
  @include mq_sp {
    @include font-size(20);
  }
}
h3 {
	@include font-size(24);
	font-weight: bold;
}
h4 {
	@include font-size(20);
	font-weight: bold;
}
h5 {
	@include font-size(18);
	font-weight: bold;
}
h6 {
	@include font-size(18);
}
