input[type="text"],input[type="email"],select,textarea{
  font-size : 14px;
  line-height : (28/14);
  @include placeholderColor(#aaa);
  width: 100%;
  padding: 2px 7px;
  min-height: auto;
  outline: none;
  background: $white00;
  border: 1px solid $gray01;
  box-sizing: border-box;
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
  vertical-align: bottom;
  @include mq_sp{
    @include fz_vw(28);
    line-height : (35/28);
    padding: size_sp(10.52) size_sp(14);
    border : solid size_sp(2) $gray01;
  }
}

textarea{
  height: 238px;
  @include mq_sp{
    height: size_sp(400);
  }
}

select{
  height: 34px;
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
  appearance: none;	/* 標準のスタイルを無効にする */
  position: relative;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 10px;
  box-sizing: border-box;
  cursor : pointer;
  @include mq_sp{
    height : size_sp(58);
  }
}
::-ms-expand {	/* select要素のデザインを無効にする（IE用） */
display: none;
}

//ラジオボタン
.mw_wp_form{
  .mwform-radio-field.horizontal-item{
    width : 100%;
    display : inline-block;
    position: relative;
    margin-left : 0 !important;
    @include mq_sp{
    }
    & + .horizontal-item{
      margin-top : 10px;
      @include mq_sp{
        margin-top : size_sp(16);
      }
    }
    & label {
      font-size : 16px;
      line-height : (35/16);
      font-weight: 300;
      cursor : pointer;
      @include mq_sp{
        @include fz_vw(30);
        line-height : (62/30);
      }
    }
  }
}
.mwform-radio-field-text{
  @include flex(inline-flex, nowrap, flex-start, center, normal, row);
}
input[type="radio"]{
  position: absolute;
  opacity: 0;
  + .mwform-radio-field-text {
    &:before {
      content: '';
      background: $white00;
      border-radius: 50%;
      border: 1px solid $gray01;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
      @include mq_sp{
        width : size_sp(30);
        height : size_sp(30);
        margin-right : size_sp(20);
      }
    }
  }
  &:checked {
    + .mwform-radio-field-text {
      &:before {
        background-color: #3197EE;
        box-shadow: inset 0 0 0 2px $white00;
      }
    }
  }
  &:focus {
    + .mwform-radio-field-text {
      &:before {
        outline: none;
        border-color: #3197EE;
      }
    }
  }
  + .mwform-radio-field-text {
    &:empty {
      &:before {
        margin-right: 0;
      }
    }
  }
}

//submit
input[type="button"], input[type="reset"], input[type="submit"]{
  cursor: pointer;
}

.form{
  &__row{
    font-size : 16px;
    line-height : (35/16);
    @include flex(flex, wrap, space-between, normal, normal, row);
    @include mq_sp{
      @include fz_vw(30);
      line-height : (62/30);
      align-items: flex-start;
    }
    &:nth-of-type(n + 2){
      margin-top: 29px;
      @include mq_sp{
        margin-top: size_sp(51);
      }
    }
    &.kinds {
      & .form__col {
        &:first-of-type {
          @include mq_sp{
            margin-bottom : size_sp(2);
          }
        }
      }
    }
    // 内覧予約
    &.preview {
      & .form__col {
        &:nth-of-type(2) {
          position : relative;
          & select {
            padding-left : 44px;
            @include mq_sp{
              padding-left : size_sp(76);
            }
          }
          &:before {
            content : "";
            width : 20px;
            height : 14px;
            background-image : url(./img/common/icn_triangle-gray.svg);
            background-size : cover;
            background-repeat: no-repeat;
            position : absolute;
            top : 12px;
            left : 10px;
            z-index : 2;
            @include mq_sp{
              width : size_sp(32);
              height : size_sp(23);
              top : size_sp(23);
              left : size_sp(16);
            }
          }
        }
      }
    }
    &.first {
      & .form__col {
        &:nth-of-type(2) {
          @include flex(flex, wrap, flex-start, normal, normal, row);
          @include mq_sp{
            flex-direction: column;
          }
          & .form__day {
            margin-right : 10px;
            position : relative;
            @include mq_sp{
              margin-right : 0;
            }
            &:before {
              content : "";
              width : 20px;
              height : 14px;
              background-image : url(./img/common/icn_triangle-gray.svg);
              background-size : cover;
              background-repeat: no-repeat;
              position : absolute;
              top : 50%;
              left : 10px;
              transform : translateY(-40%);
              z-index : 2;
              pointer-events: none;
              @include mq_sp{
                width : size_sp(32);
                height : size_sp(23);
                left : size_sp(16);
              }
            }
          }
          & input {
            width :300px;
            padding-left : 44px;
            cursor: pointer;
            @include mq_sp{
              width : 100%;
              padding-left :size_sp(76);
            }
          }
          & .form__time {
            @include mq_sp{
              margin-top : size_sp(18);
            }
          }
          & select {
            text-align : center;
            width : 52px;
            @include mq_sp{
              width : size_sp(120);
            }
          }
          & span {
            font-size : 14px;
            line-height : (28/14);
            margin-left : 4px;
            @include mq_sp{
              @include fz_vw(30);
              line-height : (62/30);
              margin-left : size_sp(13);
            }
            &.error {
              width : 90px;
              margin-left : 0;
              position :absolute;
              top :32px;
              left : 0;
              @include mq_sp{
                width : size_sp(200);
                top : size_sp(56);
              }
            }
          }
        }
      }
    }
    &.second {
      & .form__col {
        &:nth-of-type(2) {
          @include flex(flex, wrap, flex-start, normal, normal, row);
          @include mq_sp{
            flex-direction: column;
          }
          & .form__day {
            margin-right : 10px;
            position : relative;
            @include mq_sp{
              margin-right : 0;
            }
            &:before {
              content : "";
              width : 20px;
              height : 14px;
              background-image : url(./img/common/icn_triangle-gray.svg);
              background-size : cover;
              background-repeat: no-repeat;
              position : absolute;
              top : 50%;
              left : 10px;
              transform : translateY(-40%);
              z-index : 2;
              pointer-events: none;
              @include mq_sp{
                width : size_sp(32);
                height : size_sp(23);
                left : size_sp(16);
              }
            }
          }
          & input {
            width : 300px;
            padding-left : 44px;
            cursor : pointer;
            @include mq_sp{
              width : 100%;
              padding-left :size_sp(76);
            }
          }
          & .form__time {
            @include mq_sp{
              margin-top : size_sp(18);
            }
          }
          & select {
            text-align : center;
            width : 52px;
            @include mq_sp{
              width : size_sp(120);
            }
          }
          & span {
            font-size : 14px;
            line-height : (28/14);
            margin-left : 4px;
            @include mq_sp{
              @include fz_vw(30);
              line-height : (62/30);
              margin-left : size_sp(13);
            }
            &.error {
              width : 90px;
              margin-left : 0;
              position : absolute;
              top : 32px;
              left : 0;
              @include mq_sp{
                width : size_sp(200);
                top : size_sp(56);
              }
            }
          }
        }
      }
    }
    &.third {
      & .form__col {
        &:nth-of-type(2) {
          @include flex(flex, wrap, flex-start, normal, normal, row);
          @include mq_sp{
            flex-direction: column;
          }
          & .form__day {
            margin-right : 10px;
            position : relative;
            @include mq_sp{
              margin-right : 0;
            }
            &:before {
              content : "";
              width : 20px;
              height : 14px;
              background-image : url(./img/common/icn_triangle-gray.svg);
              background-size : cover;
              background-repeat: no-repeat;
              position : absolute;
              top : 50%;
              left : 10px;
              transform : translateY(-40%);
              z-index : 2;
              pointer-events: none;
              @include mq_sp{
                width : size_sp(32);
                height : size_sp(23);
                left : size_sp(16);
              }
            }
          }
          & input {
            width : 300px;
            padding-left : 44px;
            cursor : pointer;
            @include mq_sp{
              width : 100%;
              padding-left :size_sp(76);
            }
          }
          & .form__time {
            @include mq_sp{
              margin-top : size_sp(18);
            }
          }
          & select {
            text-align : center;
            width : 52px;
            @include mq_sp{
              width : size_sp(120);
            }
          }
          & span {
            font-size : 14px;
            line-height : (28/14);
            margin-left : 4px;
            @include mq_sp{
              @include fz_vw(30);
              line-height : (62/30);
              margin-left : size_sp(13);
            }
            &.error {
              width : 90px;
              margin-left : 0;
              position : absolute;
              top : 32px;
              left : 0;
              @include mq_sp{
                width : size_sp(200);
                top : size_sp(56);
              }
            }
          }
        }
      }
    }
    // 入居者向け
    &.moving {
      margin-top : 24px;
      @include mq_sp{
        margin-top : size_sp(52);
      }
      & .form__col{
        &:first-of-type {
          @include mq_sp{
            margin-bottom : 0;
          }
        }
        &:nth-of-type(2) {
          & .mwform-radio-field.horizontal-item{
            width : auto;
            margin-right : 26px;
            @include mq_sp{
              margin-right : size_sp(43);
            }
            & + .horizontal-item{
              margin-top : 0px;
            }
          }
        }
      }
    }
    &.zip {
      margin-top : 22px;
      @include mq_sp{
        margin-top : size_sp(41);
      }
    }
    &.address {
      & .form__col {
        &:nth-of-type(2) {
          & span {
            font-size : 14px;
            line-height : (20/14);
            margin-top : 8px;
            @include mq_sp{
              @include fz_vw(26);
              line-height : (54/26);
              margin-top : size_sp(12);
            }
          }
        }
      }
    }
    &.moveOutDate {
      @include mq_sp{
        margin-top :size_sp(42);
      }
      & .form__col {
        &:nth-of-type(2) {
          position : relative;
          & input {
            width : 300px;
            padding-left : 44px;
            cursor: pointer;
            @include mq_sp{
              width : 100%;
              padding-left : size_sp(76);
            }
          }
          &:before {
            content : "";
            width : 20px;
            height : 14px;
            background-image : url(./img/common/icn_triangle-gray.svg);
            background-size : cover;
            background-repeat: no-repeat;
            position : absolute;
            top : 50%;
            left : 10px;
            transform : translateY(-40%);
            z-index : 2;
            @include mq_sp{
              width : size_sp(32);
              height : size_sp(23);
              left : size_sp(16);
            }
          }
        }
      }
    }
    &.account {
      & .form__col {
        &:nth-of-type(2) {
          & input::placeholder {
            text-align : center;
            @include mq_sp{
              text-align : left;
            }
          }
          & .form__account {
            &-inner {
              @include flex(flex, wrap, flex-start, normal, normal, row);
            }
            &-left {
              width : 192px;
              margin-right : 24px;
              @include mq_sp{
                width : 100%;
                margin-right : 0;
              }
            }
            &-right {
              width : 192px;
              @include mq_sp{
                width : 100%;
                margin-top : size_sp(38);
              }
            }
            &-deposit {
              margin-top : 17px;
              @include mq_sp{
                margin-top : size_sp(31);
              }
              & .mwform-radio-field.horizontal-item{
                width : auto;
                margin-right : 26px;
                @include mq_sp{
                  margin-right : size_sp(44);
                }
                & + .horizontal-item{
                  margin-top : 0px;
                }
              }
            }
            &-name {
              width : 192px;
              margin-top : 14px;
              @include mq_sp{
                width : 100%;
                margin-top : size_sp(28);
              }
            }
            &-number {
              width : 192px;
              margin-top : 22px;
              @include mq_sp{
                width : 100%;
                margin-top : size_sp(38);
              }
            }
            &-caution {
              font-size : 14px;
              line-height : (20/14);
              display : block;
              margin-top: 8px;
              @include mq_sp{
                @include fz_vw(26);
                line-height : (54/26);
                margin-top : size_sp(11);
              }
            }
          }
        }
      }
    }
    &.reason {
      @include mq_sp{
        margin-top : size_sp(42);
      }
      & .form__col {
        &:first-of-type {
          @include mq_sp{
            margin-bottom : size_sp(8);
          }
        }
        &:nth-of-type(2) {
          & .form__reason {
            &-select {
              width : 212px;
              position : relative;
              @include mq_sp{
                width : size_sp(420);
              }
              & select {
                padding-left : 44px;
                @include mq_sp{
                  padding-left : size_sp(76);
                }
              }
              &:before {
                content : "";
                width : 20px;
                height : 14px;
                background-image : url(./img/common/icn_triangle-gray.svg);
                background-size : cover;
                background-repeat: no-repeat;
                position : absolute;
                top : 12px;
                left : 10px;
                z-index : 2;
                @include mq_sp{
                  width : size_sp(32);
                  height : size_sp(23);
                  top : size_sp(23);
                  left : size_sp(16);
                }
              }
            }
          }
          & textarea {
            height : 238px;
            @include mq_sp{
              height : size_sp(400);
            }
          }
          & span {
            font-size : 14px;
            line-height : 1;
            margin : 26px 0 11px;
            display : block;
            @include mq_sp{
              @include fz_vw(30);
              margin : size_sp(48) 0 size_sp(27);
            }
          }
        }
      }
    }
    &.good {
      & .form__col {
        &:first-of-type {
          font-size : 15px;
          line-height : (35/15);
          @include mq_sp{
            @include fz_vw(30);
            line-height : (62/30);
            margin-bottom : size_sp(11);
          }
        }
        &:nth-of-type(2) {
          & textarea {
            height : 238px;
            @include mq_sp{
              height : size_sp(400);
            }
          }
        }
      }
    }
    &.bad {
      & .form__col {
        &:first-of-type {
          font-size : 15px;
          line-height : (35/15);
          @include mq_sp{
            @include fz_vw(30);
            line-height : (62/30);
            margin-bottom : size_sp(11);
          }
        }
        &:nth-of-type(2) {
          & textarea {
            height : 238px;
            @include mq_sp{
              height : size_sp(400);
            }
          }
        }
      }
    }
  }
  &__col{
    &:first-of-type{
      width: 158px;
      @include mq_sp{
        width: 100%;
        margin-bottom: size_sp(9);
      }
    }
    &:nth-of-type(2){
      width: 408px;
      @include mq_sp{
        width: 100%;
      }
    }
  }
  &__caution {
    font-size : 16px;
    line-height : (37/16);
    width : 100%;
    padding : 23px 29px 22px;
    margin-top : 71px;
    border : solid 1px $gray01;
    @include mq_sp{
      @include fz_vw(30);
      line-height : (62/30);
      border : solid size_sp(2) $gray01;
      padding : size_sp(39) size_sp(48);
      margin-top : size_sp(100);
    }
  }
  &__check {
    font-size : 16px;
    width : 334px;
    height : 33px;
    margin : 66px auto 0;
    position: relative;
    @include mq_sp{
      @include fz_vw(30);
      width :size_sp(627);
      height : size_sp(44);
      margin-top : size_sp(92);
      left : size_sp(-13);
    }
    & span {
      position : absolute;
      right : 0;
      pointer-events: none;
      &.horizontal-item {
        width : 100%;
        left : 0;
        pointer-events: all;
        & label {
          width : 100%;
          display: inline-block;
          cursor: pointer;
        }
        & input {
          width : 16px;
          height : 16px;
          vertical-align: middle;
          margin-right : 0;
          @include mq_sp{
            width : size_sp(38);
            height : size_sp(38);
          }
        }
      }
      &.error {
        top : 26px;
        @include mq_sp{
          top : size_sp(52);
        }
      }
    }
    & a {
      color : $blue02;
      pointer-events: all;
    }
  }
  &__btn{
    @include flex(flex, wrap, space-between, normal, normal, row);
    margin-top: 95px;
    @include mq_sp{
      align-items: center;
      flex-direction: column-reverse;
      margin-top: size_sp(108);
    }
    & .mod-btn {
      width : 372px;
      @include mq_sp{
        width : size_sp(370);
      }
      & input {
        width : 100%;
        padding : 16px 0;
        display : block;
        @include mq_sp{
          padding : size_sp(29) 0 size_sp(28);
        }
      }
      &:hover {
        &:before {
          width : 60px;
          @include mq_sp{
            width : size_sp(90);
          }
        }
      }
      &:before {
        left : 350px;
        @include mq_sp{
          width : size_sp(90);
          left : size_sp(337);
        }
      }
      &.back {
        &:before {
          left : auto;
          right : 350px;
          @include mq_sp{
            right : size_sp(337);
          }
        }
      }
    }
    &-col{
      &.submit{
        margin-top: 0;
        @include mq_sp{}
      }
      &.back{
        margin-top: 0;
        @include mq_sp{}
        &:before{
          left: auto;
          right: 0;
          transform: rotateY(180deg);
        }
        .arrow{
          right: auto;
          left: 0;
          transform: rotateY(180deg);
        }
        .corner{
        }
      }
    }
  }
}

//入力画面
.mw_wp_form_input{
  .error{
    width: 100%;
  }
  .form{
    &__btn{
      justify-content: center;
      & .mod-btn {
        &.back {
          display :none;
        }
      }
    }
  }
}
//確認画面
.mw_wp_form_confirm{
  .form{
    &__row{
      margin-top: 40px;
      @include mq_sp{
        margin-top: size_sp(64);
      }
      &.mail_confirm{
        display: none;
      }
      &.preview {
        & .form__col {
          &:nth-of-type(2) {
            &:before {
              display: none;
            }
          }
        }
      }
      &.first {
        & .form__col {
          &:nth-of-type(2) {
             & .form__day {
              &:before {
                display: none;
              }
             }
          }
        }
      }
      &.second {
        & .form__col {
          &:nth-of-type(2) {
            & .form__day {
              &:before {
                display: none;
              }
             }
          }
        }
      }
      &.third {
        & .form__col {
          &:nth-of-type(2) {
            & .form__day {
              &:before {
                display: none;
              }
             }
          }
        }
      }
      &.address {
        & .form__col {
          &:nth-of-type(2) {
            & .form__note {
              display: none !important;
            }
          }
        }
      }
      &.moveOutDate {
        & .form__col {
          &:nth-of-type(2) {
            &:before {
              display: none;
            }
          }
        }
      }
      &.moveOutDate {
        & .form__col {
          &:nth-of-type(2) {
            &:before {
              display: none;
            }
          }
        }
      }
      &.account {
        & .form__col {
          &:nth-of-type(2) {
            & .form__account {
              &-inner {
                flex-direction: column;
              }
              &-left {
                margin-right : 0;
              }
              &-right {
                margin-top : 17px;
                @include mq_sp{
                  margin-top : size_sp(38);
                }
              }
              &-caution {
                display: none;
              }
            }
          }
        }
      }
      &.reason {
        & .form__col {
          &:nth-of-type(2) {
            & .form__reason-select {
              &:before {
                display: none;
              }
            }
            & .form__reason-content {
              & span {
                display: none;
              }
            }
          }
        }
      }
    }
    &__col{
      &:nth-of-type(2){
        font-size : 16px;
        line-height : (35/16);
        @include mq_sp{
          @include fz_vw(30);
          line-height : (62/30);
        }
      }
    }
    &__caution {
      display : none;
    }
    &__check {
      display: none
    }
    &__btn{
      @include flex(flex, wrap, center, center, normal, column-reverse);
      &-col{
        &.btn__more{
          margin: 0;
        }
        &:first-of-type{
          display: block;
        }
        &.back{
          @include mq_sp{
            margin-top: size_sp(70);
          }
        }
      }
      & .mod-btn {
        &:first-of-type {
          margin-top : 40px;
          @include mq_sp{
            margin-top : size_sp(50);
          }
        }
      }
    }
    &__note{
      display: none;
    }
  }
}
.ui-widget.ui-widget-content {
  margin-top : calc(100vh + 736px);
  @include mq_sp{
    margin-top : 0;
  }
}