.common-gallery {
  width : 100%;
  &__img {
    padding : 0 (4/1160)*100%;
    @include flex(flex, wrap, flex-start, stretch, normal, row);
    @include mq_sp{
      padding : 0 size_sp(6);
      flex-direction : column;
    }
    &-left {
      width : (573/1152)*100%;
      margin-right : (4/1152)*100%;
      @include mq_sp{
        width : 100%;
        margin-right : 0;
      }
      &-high {
        height : (382/644)*100%;
        @include mq_sp{
          height : size_sp(492);
        }
      }
      &-low {
        height : (258/644)*100%;
        @include flex(flex, wrap, flex-start, stretch, normal, row);
        margin-top : (4/573)*100%;
        @include mq_sp{
          height : size_sp(331);
          margin-top : size_sp(6);
        }
        &-left {
          width : (385/573)*100%;
          height : 100%;
          margin-right : (4/573)*100%;
          @include mq_sp{
            width : size_sp(495);
            margin-right : size_sp(6);
          }
        }
        &-right {
          width : (184/573)*100%;
          height : 100%;
          @include mq_sp{
            width : size_sp(237);
          }
        }
      }
    }
    &-right {
      width : (575/1152)*100%;
      @include mq_sp{
        width : 100%;
        margin-top :size_sp(6);
      }
      &-high {
        height : (253/644)*100%;
        @include flex(flex, wrap, flex-start, stretch, normal, row);
        @include mq_sp{
          height : size_sp(326);
        }
        &-left {
          width : (192/575)*100%;
          height : 100%;
          margin-right : (4/575)*100%;
          @include mq_sp{
            width : size_sp(246);
            margin-right : size_sp(6);
          }
        }
        &-right {
          width : (379/575)*100%;
          height : 100%;
          @include mq_sp{
            width : size_sp(486);
          }
        }
      }
      &-low {
        height : (387/644)*100%;
        margin-top : 4px;
        @include flex(flex, wrap, flex-start, stretch, normal, row);
        @include mq_sp{
          height : 100%;
          margin-top : size_sp(6);
        }
        &-left {
          width : (388/575)*100%;
          margin-right : (4/575)*100%;
          @include mq_sp{
            width : size_sp(500);
            margin-right : size_sp(6);
          }
          &-high {
            width : 100%;
            height : (259/387)*100%;
            @include mq_sp{
              height : size_sp(334);
            }
          }
          &-low {
            height : (124/387)*100%;
            margin-top : (4/388)*100%;
            @include flex(flex, wrap, flex-start, stretch, normal, row);
            @include mq_sp{
              height : size_sp(160);
              margin-top : size_sp(6);
            }
            &-left {
              width : (192/388)*100%;
              height : 100%;
              margin-right : (4/388)*100%;
              @include mq_sp{
                width : size_sp(247);
                margin-right : size_sp(6);
              }
            }
            &-right {
              width : (192/388)*100%;
              height : 100%;
              @include mq_sp{
                width : size_sp(247);
              }
            }
          }
        }
        &-right {
          width : (183/575)*100%;
          height : 100%;
          @include mq_sp{
            width : size_sp(232);
            height : size_sp(498);
          }
        }
      }
    }
  }
  & .mod-btn {
    margin : 60px auto 0;
    @include mq_sp{
      margin-top : size_sp(75);
    }
  }
}